<div ng-if="smallerDescription" class="level-description">
	Utfordring #1, tastaturfella
</div>
<div class="vertical-spacing-large" ng-if="showJumbotron">
	<div class="jumbotron">
		<h1>
			Utfordring #1, tastaturfella
		</h1>
		<p>
			En tastaturfelle oppstår når en bruker som navigerer med tastaturet ikke enkelt får flyttet fokus fra et element med bruk av kun tastaturet. 
		</p>

		<p>
			En tastaturfelle kan også bety at man ikke kan navigere seg videre på siden, f.eks. hvis navigering til neste steg trigges når et klikk-event skjer på elementet. (Kanskje et mer vanlig scenario.)
		</p>


		<p>
			<button class="btn btn-primary btn-lg" ng-click="showKeyboardTrap1()">Got it!</button>
		</p>
	</div>
</div>

<div ng-if="!keyboardTrap1">
	<h2>Hent nøkkelen</h2>
	<p>
		Alt du trenger å gjøre for å komme deg videre til neste nivå er å hente nøkkelen vi har gjemt!
	</p>

	<p>
		<button class="btn btn-default top-spacing-small" focus-me="true" ng-click="showModal()" data-toggle="modal" data-target="#myModal">Finn nøkkelen!</button>
	</p>
</div>

<div ng-if="modal">
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
					<h4 class="modal-title">Hurra!</h4>
				</div>
				<div class="modal-body">
					<p>Du fant nøkkelen!</p>
					<p><button type="button" class="btn btn-default" ng-if="!level.key" ng-click="fetchKey()">Plukk opp nøkkelen</button></p>

					<p ng-if="level.key">Supert! La oss komme oss tilbake</p>
				</div>
				<div class="modal-footer">

					<p ng-if="level.key">...</p>
					<p ng-if="level.key">Klarer du å lukke lightboxen?</p>
					<p ng-if="level.key"><button type="button" class="btn btn-default" data-dismiss="modal">Nei, jeg gir opp...</button></p>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>

<div ng-if="summary">
	<h2>Summa summarum</h2>

	<p>
		Litt irriterende, vil jeg tro? Det kan enkelt unngås i hverdagskodingen ved å simpelthen tabbe seg gjennom egne løsninger en gang i blant! :)
	</p>

	<button class="btn btn-default" ng-click="nextLevel()">Neste nivå</button>
</div>